body {
  background-color: #94b8fa;
}

h1 {
    text-align: center;
}
.wrap {
  display: flex;
  flex-flow: column wrap;
  height: 600px;
  width: 500px;
  justify-content: space-between;
column-gap: 40px;

}

#container {
    display: grid;
height: 300px;
width: 300px;
    padding: 20px;
  grid-template-columns: repeat(30, 1vw);
  grid-template-rows: repeat(30, 1vw);
 margin: 5vw 30vw 5vw 10vw;
 
}


.square {

background-color: #f8f7fd;
box-sizing: border-box;
}


.buttons {
display: flex;
flex-direction: column;
flex-shrink: 0;
}


.small, .big, .clear, .eraser, .rainbow {
  background-color: lime;
  font-size: 26px;
  color: red;
  width: 150px;
  margin-left: 300px;
}

