

body {
  background-color: #8685FF !important;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-flow: column wrap;
  column-gap: 5vw;
  height: 1000px;

}

p {
  font-size: 1vw;
}

.main-title {
    text-align: center;
    font-size: 2vw;
    margin-left: 30vw;
}
.wrap {
  display: flex;
  flex-flow: column wrap;
  height: 40vw;
  width: 50vw;
  justify-content: center;
  column-gap: 10vw;
  justify-content: center;
  align-items: center;

}

.footer {
  background-color: #8685FF !important;

}

#container {
    display: grid;
height: 600px;
width: 600px;
    padding: 20px;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(30, 1fr);
touch-action: none;
margin: 12vw 30vw 0 0;
padding: 0;
}


.square {

background-color: #f8f7fd;
box-sizing: border-box;
}

p {
  background-color: #8685FF !important;
}

.buttons {
display: flex;
flex-shrink: 0;
margin-top: 1vw;
margin-left: 4vw;
gap: 1vw;

}
.menu {
  margin-left: 2vw;

}

.selector {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  align-items: center;
  margin-left: 2vw;

}

.small, .big, .clear, .eraser, .rainbow {
  background-color: #ff7d57;
  font-size: 1.7vw;
  color: white;
  width: 150px;
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-family: arial, helvetica, sans-serif;
  font-weight: 800;
  border-radius: 20px;
  padding: 10px;
  border: 2px solid white;
}

.small:active, .big:active, .clear:active, .eraser:active, .rainbow:active {
  box-shadow: 2px 2px 5px;
}

.rainbow {
  width: 170px;
}

@media screen and (max-width: 500px) {
 html, body {
    overflow-y: hidden;
    margin: 0;
  }
  body {
    position: relative;
    justify-content: center;
    align-items: center;
    height: max-content;
  }
  
  .wrap {
    flex-flow: column nowrap;
    gap: 2vw;
    height: max-content;
    width: max-content;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 10px;
  }
  #container {
    margin: 15vw  0 15vw 0;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);
    height: 250px;
    width: 100vw;
 padding: 0;


  }
  .buttons {
    flex-direction: row;
  margin: 0;
  gap: 2vw;

  }
  .selector {
    flex-direction: row;
    gap: 2vw;
  }
  .big, .small, .clear, .eraser, .rainbow {
    font-size: 4vw;
    color: white;
    width: 75px;
  margin: 0;
    font-weight: 800;
    border-radius: 2vw;
    padding: 7px;;
    border: 2px solid white;
  }
  .eraser, .rainbow {
    width: 90px;
  }
  .menu {
    font-size: 6vw;
  }
  h1 {
    font-size: 8vw;
  }
  p {
    font-size: 4vw;
    padding: 4.5vw 0;
  }
  .footer {
    height: 20vw;
  }
  .main-title {
    margin: 0;
  }
  }
