h1 {
    text-align: center;
}

#container {
    display: grid;
  max-height: 50%;
  max-width: 50%;
    padding: 20px;
  grid-template-columns: repeat(16, 2vw);
  grid-template-rows: repeat(16, 2vw);
}

.square {
border: 1px solid black;
background-color: lightskyblue;
box-sizing: border-box;
}

.square-filled {
  background-color: #f4f4f4;
  border: 1px solid black;
}

